.eld-container {
  font-family: "Inter", sans-serif;
  max-width: 1160px;
  margin: 20px auto 20px;
  padding: 20px;
  background-color: #f9f9fc;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-items: center;
}

.logger {
  display: flex;
}

.eld-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.eld-totals {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
  margin-top: 1.8rem;
  line-height: 1.5rem;
}

.eld-form {
  max-width: 1100;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.eld-form label {
  display: flex;
  min-width: 200px;
  flex-direction: column;
  font-weight: 500;
  color: #444;
}

.eld-form select,
.eld-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.eld-form button {
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.eld-form button:hover {
  background-color: #2ecc71;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  font-weight: 500;
}